@page "{id:int?}"
@model PawsClaws.Pages.Pets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.AtShelter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.AtShelter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Species)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Breed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Spay_Neuter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Spay_Neuter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.ShotsUTD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.ShotsUTD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.FurLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.FurLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Description)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Pet.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
