@page "{id:int?}"
@model PawsClaws.Pages.Pets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.AtShelter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.AtShelter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Species)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Breed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Spay_Neuter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Spay_Neuter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.ShotsUTD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.ShotsUTD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.FurLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.FurLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Delete" asp-route-id="@Model.Pet.ID">Delete</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Pet.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
