@page "{SpeciesFilter?}"
@model PawsClaws.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Pets";
}

<h2>Pets</h2>

<h4>
    <a href="https://localhost:5001/Pets/">All</a>
    <a href="https://localhost:5001/Pets?SpeciesFilter=Cat">Cats</a>
    <a href="https://localhost:5001/Pets?SpeciesFilter=Dog">Dogs</a>
</h4>

<head>
    <style type="text/css">
        .petBoxes {
            background-color: aliceblue;
            border: 1px solid black;
            height: 120px;
            padding: 10px 10px 10px 10px;
            text-align: center;
        }
    </style>

    <style type="text/css">
        .mainBox {
            background-color: dimgray;
            border: 1px solid #000000;
            height: 100%;
            padding: 100px 50px 100px 50px;
        }
    </style>
</head>

<p>
    <a asp-page="Create">Create New</a>
</p>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].FurLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Spay_Neuter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].ShotsUTD)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Pet[0].AtShelter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pet)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FurLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spay_Neuter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotsUTD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtShelter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
-->

<body>
    <div class="container-fluid mainBox">
        <div class="row">
            @foreach (var item in Model.Pet)
            {
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 petBoxes"><a href="https://localhost:5001/Pets/Details?id=@item.ID">@Html.DisplayFor(modelItem => item.Name)</a> :: @Html.DisplayFor(modelItem => item.Breed)<br />
                    @Html.DisplayFor(modelItem => item.Sex) :: @Html.DisplayFor(modelItem => item.Age)</div>
            }
        </div>
    </div>
</body>
